html, body {
  margin: 0;
  padding: 0;
  background: rgb(29,119,180);
  background: linear-gradient(90deg, rgba(29,119,180,1) 23%, rgba(12,160,224,1) 58%, rgba(0,123,255,1) 85%);
}

.Milhao {
  display: flex;
  justify-content: center;
  margin-top: 0em;
}

.Imagens {
  position: absolute;
}

#logo{
  position: absolute;
  width: 20%;
  left: 40%;
  margin-top: 0em;
  opacity: 1;
  animation: slider 1.4s ease-in-out;
}

.Versão{
  font-size: 300px;
  position: absolute;
  left: 4600px;
  margin-top: 3.5em;
  animation: slider2 2.4s ease;
}

.Anime{
  font-size: 300px;
  position: absolute;
  left: 4300px;
  margin-top: 5em;
  animation: slider2 3.4s ease;
}

.card {
  width: 3700px;
  height: 2000px;
  margin-top: 50em;
  border-radius: 80px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

#silvo {
  position: absolute;
  width: 40%;
  left: -2%;
  animation: slider 1.4s ease-in-out;
  margin-top: -70em;
}

#goku {
  position: absolute;
  width: 25%;
  left: 70%;
  animation: slider 1.4s ease-in-out;
  margin-top: -70em;
}

.Botoes {
  position: absolute;
  font-size: 90px;
  border-radius: 80px;
  margin-top: 1em;
  left: 41%;
  width: 1000px;
  height: 500px;
}

@keyframes slider{
  0%{
    transform: scale(.9);
    transform: translateY(10em);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slider2{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  50%{
    transform: translateY(300px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}